:root {
    --pattern-color: rgb(67, 136, 182);
    --light-color: rgb(238, 248, 255);
    --dark-color: rgb(47, 85, 134);

    --primary-font-family: 'Titillium Web', sans-serif;
}

.options-panel {
    font-family: var(--primary-font-family);
}

.option-panel__save-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--light-color);
    border-radius: 3px;
    color: var(--dark-color);
    cursor: pointer;
    user-select: none;
}

.option-panel__save-button:hover {
    background-color: var(--pattern-color);
    color: white;
}

.option-panel__save-button:active {
    background-color: var(--dark-color);
    padding: 11px 20px 9px;
}
