:root {
    --pattern-color: rgb(67, 136, 182);
    --light-color: rgb(238, 248, 255);
    --dark-color: rgb(47, 85, 134);

    --primary-font-family: 'Titillium Web', sans-serif;
}

::-webkit-scrollbar { 
    width: 0;
}

.content {
    font-family: var(--primary-font-family);
    font-size: 1rem;
    min-width: 395px;
    width: 395px;
}

.content__frames {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content__frame-title {
    position: relative;
    padding: 8px 10px 8px 25px;

    font-weight: bold;
    color: var(--dark-color);

    cursor: pointer;
    border-bottom: 2px solid var(--pattern-color);
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content__frame-title:hover {
    background-color: var(--light-color);
}

.content__frame-title:before {
    position: absolute;
    top: 4px;
    left: 7px;

    content: ">";

    font-weight: bold;
    font-size: 1.2rem;
    transform: scaleX(0.7);
    transition: 0.1s;
}

.content__frame-title--expanded {
    border-bottom: 2px solid transparent;
}

.content__frame-title--expanded:before {
    transform: translate(2px, 3px) rotate(90deg) scaleX(0.7);
}

.content__frame-title--empty:before {
    content: "×";
    transform: scale(1);
}

.content__frame-title--empty:after {
    content: "(no params)";
    padding-left: 10px;
    
    font-weight: normal;
    color: rgb(192, 192, 192);
    white-space: nowrap;
}

.content__frame-params {
    display: none;
    margin: 0;
    padding: 0;

    font-size: 0.9rem;
    list-style: none;
    white-space: nowrap;
    margin-top: 3px;
}

.content__frame-param {
    padding: 3px 10px;
}

.content__param-name {
    display: inline-block;
    width: 80px;
    
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__param-name--highlighted {
    font-weight: bold;
}

.content__param-name:after {
    content: ":";
}

.content__param-value {
    display: inline-block;
    width: 225px;
    padding: 5px;

    border: 1px solid var(--light-color);
    border-radius: 3px;
    
    font-family: var(--primary-font-family);
    background-color: var(--light-color);
    vertical-align: middle;
}

.content__copy-param-button {
    display: inline-block;
    margin-left: 7px;
    padding: 5px 10px;

    border-radius: 3px;
    vertical-align: middle;
    
    cursor: pointer;
    background-color: var(--light-color);
    user-select: none;
}

.content__copy-param-button:hover {
    background-color: var(--pattern-color);
    color: white;
}

.content__copy-param-button:active {
    padding: 6px 10px 4px;
    background-color: var(--dark-color);
}